@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	font-family: 'IBMPlexSansKR-Regular';
}



 
  .login{
    background-color: #FF809F;
    border: none;
    color: white;
}

.login:hover{
    background-color: #FF4D79;
    color: white;

}


.for{
    margin-bottom: 2rem;
}


.btn{
	font-size:1.3rem;
}

.table{
	    font-size: 1.3rem;
}

.mb{
	    margin-bottom: 3rem;
}