@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	font-family: 'IBMPlexSansKR-Regular';
}


/*   .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  } */
  
  .hei{
    width: 27%;
  }
  .login{
    background-color: #FF809F;
    border: none;
    color: white;
}

.login:hover{
    background-color: #FF4D79;
    color: white;

}

.mar{
  width: 68.7rem;
  margin: auto;
}


.for{
    margin-bottom: 2rem;
}


.main{
  padding-bottom: 2rem;
}
